.preview {
    &__img {
        width: 1280px;
        height: 720px;
    }

    &__text {
        position: absolute;
        left: 45%;
        top: 30%;

        font-family: "Montserrat", sans-serif;
        font-size: 38px;
        color: #fff;

        text-wrap: nowrap;

        background-color: rgba(0, 0, 0, 0.5);
        padding: 36px 24px 36px 24px;

        font-weight: 100;

        &--bold {
            font-weight: 600;
        }
        &--thin {
            font-weight: 100;
        }
    }
}